.layout-default {
    border: 1px solid black;
    background-color: #3e3e3e;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-areas: 
        "status board board"
        "control control control"
    ;
    grid-template-rows: 80% 20%;
    grid-template-columns: 20% 80%;

    & > .layout-status-wrapper,
    & > .layout-control-wrapper,
    & > .layout-board-wrapper {
        margin: 1em;
    }

    & > .layout-status-wrapper {
        grid-area: status;
    }
    & > .layout-control-wrapper {
        grid-area: control;
    }
    & > .layout-board-wrapper {
        grid-area: board;
        display: grid;
        place-content: center;

        & > .layout-board-container {
            width: 500px;
            aspect-ratio: 1;
        }
    }
}